In [1]:
import pandas as pd
import numpy as np

In [2]:
from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
from matplotlib.pylab import rcParams
rcParams['figure.figsize']=20,10
from keras.models import Sequential
from keras.layers import LSTM,Dropout,Dense

2023-04-11 19:37:55.931444: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-04-11 19:37:55.975904: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-04-11 19:37:55.976575: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-11 19:37:56.776788: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [5]:
df=pd.read_csv("^spx_d.csv")
df.head()

         Date    Open    High     Low   Close       Volume  Tomorrow  Target
0  1990-01-02  353.40  359.69  351.98  359.69   90038889.0    358.76       0
1  1990-01-03  359.69  360.59  357.89  358.76  106850000.0    355.67       0
2  1990-01-04  358.76  358.76  352.89  355.67   98333333.0    352.20       0
3  1990-01-05  355.67  355.67  351.35  352.20   88072222.0    353.79       1
4  1990-01-08  352.20  354.24  350.54  353.79   77838889.0    349.62       0